image: atlassian/default-image:3
            
pipelines:
  branches:
    main:
      - step:
          name: Deploy to Production
          deployment: Production
          script:
            - ssh -o StrictHostKeyChecking=no root@$PRODUCTION_SERVER "cd lms-frontend && git pull origin main && docker stop react-app && docker rm react-app && docker build --no-cache -t react-app . && docker run -d -p 8080:80 --name react-app react-app" 
    develop:
      - step:
          name: Deploy to Staging
          deployment: Staging
          script:
            - ssh -o StrictHostKeyChecking=no root@$STAGING_SERVER "cd lms-frontend && git pull origin develop && docker stop react-app && docker rm react-app && docker build --no-cache -t react-app . && docker run -d -p 8080:80 --name react-app react-app"